<h1>Editing user</h1>

<%= render 'form' %>

<hr>

<% if @user.subscription != nil %>
  <p>You are a Premium User with unlimited Albums</p>
<% else %>
  Become a Premium User to have unlimited Albums!  <%= link_to 'Subscribe Here', new_subscription_path %>
<% end %>

<hr>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', albums_path %>
