 html,body {
   height:100%;
   min-width:940px;
   width:100%;
   height:100%;
   min-height:720px;
 }
 body {
   background-size: 20px 20px;
 }

 #full_album {
  overflow:hidden;
  width:100%;
  position:relative;
 }

#full_album h2 {
  text-align: center;
  font-style: bold;
}


#full_album > #album_container {
  height:auto;
  overflow: hidden;
}

#full_album > #album_container > .seat {
  display:block;
  float:left;
  width:25%;
  height:200px;
  margin-top:10px;
  margin-right:26px;
  border-radius:5%;
  text-align: center;

}
#album_container > .seat img {
  margin-top: 5px;
  width: auto;
  height: 190px;
  border:1px solid black;
}